/* CSS files add styling rules to your content */

body {
  font-family: 'Righteous', cursive;
  margin: 2em;
  background-color: black;
}

h1 {
  font-style: italic;
  color: white;
}
p{
  color:turquoise;
}

